@model IEnumerable<BlogApp.Models.BlogPost>
@{ 
    ViewData["Title"] = "Dashboard Page"; 
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
crossorigin="anonymous" />
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
crossorigin="anonymous"
referrerpolicy="no-referrer" />
<div class="d-flex">
    <div class="my vh-100 pt-3" style="width: 230px">
        <div class="dash-links">
            <i class="fa-solid fa-gauge px-2 dashIcon"></i>
            <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        </div>
        <div class="dash-links">
            <i class="fa-solid fa-pen-to-square px-2"></i>
            <a asp-controller="Dashboard" asp-action="NewPost"> New Post</a>
        </div>
        <div class="dash-links">
            <i class="fa-solid fa-magnifying-glass px-2"></i>
            Browse Post
        </div>
        <div class="dash-links">
            <i class="fa-solid fa-layer-group px-2"></i>
            Category
        </div>
        <div class="dash-links">
            <i class="fa-solid fa-chart-simple px-2"></i>
            Anaylaytics
        </div>
        <div class="dash-links">
            <i class="fa-regular fa-user px-2"></i>
            Users
        </div>
        <!-- sidebar -->
    </div>

    <div class="w-100">
        <div class="m-4">
            <div class="m-5 d-flex gap-4">
                
                        @foreach(var post in Model) 
                        {
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">@post.Category</h6>
                            <h6 class="card-subtitle mb-2 text-body-secondary">@post.Created_At</h6>
                            <p class="card-text h-50">@post.Content</p>
                            <a asp-controller="Dashboard" asp-action="View" class="card-link">View Post -></a>
                        </div>
                    </div>
                         }
            </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
